h1 {
    color:hotpink;}

marquee {
    color: cornflowerblue;
}
.header {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fantasy, Impact;
    font-size: 10vw;
}